<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualWorldEditor.EditorSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VisualWorldEditor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisualWorldEditor.EditorSettings>
            <setting name="ClientPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkToEditor" serializeAs="String">
                <value>False</value>
            </setting>
        </VisualWorldEditor.EditorSettings>
        <VisualWorldEditor.Settings1>
            <setting name="ClientPath" serializeAs="String">
                <value>C:\vu2008\vu.exe</value>
            </setting>
        </VisualWorldEditor.Settings1>
    </userSettings>
</configuration>